[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/numbers"]
	path = vim/bundle/numbers
	url = git@github.com:myusuf3/numbers.vim.git
[submodule "theme"]
	path = theme
	url = git@github.com:hukl/Smyck-Color-Scheme.git
[submodule "theme/theme"]
	path = theme/theme
	url = git@github.com:hukl/Smyck-Color-Scheme.git
[submodule "theme/smyck"]
	path = theme/smyck
	url = git@github.com:hukl/Smyck-Color-Scheme.git
